.colors1{
    color: #414040;
}
.colors2{
    background-color:  #B68C5A;
}
.colors3{
    background-color: #414040;
}

/* nav styles starts */

.btns-colors{
    background: #B68C5A;
    border-color: #B68C5A;
     border-radius: 8px;
    color: white;
}

.btns-colors:hover{
background: #B68C5A;
border-color: #B68C5A;

border-radius: 8px;
color: white;

}
/* nav styles starts */

.banner-img{
    background:url(../images/Rectangle\ 4.png),linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width:100%;
    height: 650px;
    border-radius: 8px;
    
    
    
    
}

.btn-extra{
    width: 350px;
}
.arrow-design{
    background-color:  #B68C5A;
    width: 30px;
    height: 30px;
    border-radius:50%;
    margin:0 auto;
}


.banner-img-1{
    background-image:url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:80vh;
}

.banner-img-2{
    background-image:url(../images/closeup-gavel-judgement-concept.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:80vh;
}
.banner-img-3{
    background-image:url(../images/judges-gavel-scale-justice-black-table.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:80vh;
}



.picchi{
    width:100px;
    height:100px;
    border-radius:50%;
    margin-bottom: 20px;
    border: 3px solid white;
}
 


 


.accordion{
    --bs-accordion-active-color:none;
    --bs-accordion-active-bg: none;
    
}

.accordion-button:focus {
   
    box-shadow: none;

}



@media only screen and (max-width:576px){

     
    .btn-extra{
        width: 150px;
    }
}